.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

header {
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}